.LNote{
    width:100%;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    border-color: white;
    color: white;
    padding-bottom: 15px;

}
.Header{
    width:100%;
    resize:none;
    text-align: left;
    font-size: 48px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    border-color: white;
    color: white;
}

.deleteButton{

    background-color: transparent;
    background-repeat: no-repeat;
    padding-top: 0px;
    color: transparent;
    border: transparent;
    margin-left: auto;
    display: table;
    
    
}


.addTextBox{

    background-color: transparent;
    background-repeat: no-repeat;
    padding-top: 0px;
    color: transparent;
    border: transparent;
    margin-right: auto;
    margin-left: 0%;
}

.picture.card{

    background-color: transparent;
    color: transparent;
    border-color: transparent;
    padding-bottom: 20px;
}