.bottomNav
{
    background-color:rgb(153, 204, 255);
    position: fixed;
    height: 3rem;
    width: 100%;
    margin-bottom: 0;
    overflow: hidden;

}

.bottomContainer
{
    background-color: white;
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid grey;
    border-radius: 25px;

}

.bottomLink
{
    text-decoration: none;
    color: black;
    font-size: 15px;
    position: relative;
    align-self: flex-start;
    left: 2.5rem;

}

.bottomAdd
{
    display:flex;
    flex-direction: row;
    float:right;/*Thanks Argha!! - Jem */
}
 