.allBoards /* Universal CSS for all the board elements in the App */
{
    text-align: center;
    background: linear-gradient(to bottom, #51249b 0%, #0055c7 100%);
}

#Board1 {
    background-color:#E0D487 !important;    
    margin: 2% !important;
    width: 8em !important;
    height: 10em !important;
    color: black !important;
    border: 1px solid !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    
}
#Board2 {
    background-color:#E79ED3  !important;    
    margin: 2% !important;
    width: 8em !important;
    height: 10em !important;
    color: black !important;
    border: 1px solid !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
#Board3 {
    background-color:#ABDA8A!important;    
    margin: 2% !important;
    width: 8em !important;
    height: 10em !important;
    color: black !important;
    border: 1px solid !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
#Board4 {
    background-color:#9AD1E8  !important;
    margin: 2% !important;
    width: 8em !important;
    height: 10em !important;
    color: black !important;
    border: 1px solid !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.BoardTitles {
    border: 1px solid;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
 }

 .card-body {
    padding: 0px !important;
 }
 
 /* Noteboard_01 Styling */
 .allNotes /* Universal CSS for all the note elements in the App */
 {
     text-align: center;
     background-color: white;
 }
 #Note1 {
    background-color:#FAD9BB !important;
    margin: 2% !important;
    width: 8em !important;
    height: 10em !important;
    color: black !important;
    border: 1px solid !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
#Note2 {
    background-color:#CBFABB !important;
    margin: 2% !important;
    width: 8em !important;
    height: 10em !important;
    color: black !important;
    border: 1px solid !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.NoteTitles {
    border: 1px solid;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
 }