:root
{
    --tool-tip-text-color: white;
    --tool-tip-background-color: black;
    --tool-tip-margin: 30px;
    --tool-tip-arrow-size: 6px;
}

.Tooltip-Wrapper /* this is the thing that MAKES the tooltip appear*/
{
    display: inline-block;
    position: relative;
}

.Tooltip-Tip /*this is being overridden because nothing changes when making changes to this, cannot figure out what though*/
{
    position: absolute;
    border-radius: 2px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px;
    color: var(--tooltip-text-color);
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    font-size: 14px;
    z-index: 100%;
    white-space: nowrap;
}

.Tooltip-Tip::before
{
    content: " ";
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: var(--tool-tip-arrow-size);
    margin-left: calc(var(--tool-tip-arrow-size));
}

.Tooltip-Tip.top
{
    top: calc(var(--tool-tip-margin) * -1);
}

.Tooltip-Tip.top::before
{
    top: 100%;
    border-top-color: var(--tool-tip-background-color);
}

.Tooltip-Tip.bottom
{
    bottom: calc(var(--tool-tip-margin));
}

.Tooltip-Tip.bottom::before
{
    bottom: 100%;
    border-bottom-color: var((--tool-tip-background-color));
}

.Tooltip-Tip.left
{
    left: auto;
    right: calc(100% + var(--tool-tip-margin));
    top: 50%;
    transform: translateX(0) translateY(-50%);
}

.Tooltip-Tip.left::before
{
    left: auto;
    right: calc(var(--tool-ip-arrow-size) * -2);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-left-color: var(--tool-tip-background-color);
}