.title-text-field{
    color: black !important;
    width: 60% !important;
    text-align: left;
    padding: 10px;
}
.backButton{
    justify-content: start;
    font-size: 2rem;
    min-width: 10vw;
    min-height: 10vw;
}