.navExpand
{
    background-color: #3B72CD;
    min-height: 3rem;
    /*justify-content: start;
    align-items: center;*/
    width: 100%;
    margin-bottom: 10px; /*Josh did this :-) */
    
}
.navTitle
{
    font-size: 1rem;
    font-family: 'Assistant', sans-serif;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: grey;
    margin-right: 0px !important;
    /**border: 1px solid white;
    border-radius: 10px;
    padding: 0;**/

}

.navLinks
{
    color: black;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px solid white;
    /**border-top: 1px solid white;**/
    width: 103%;
    margin-bottom:10%;
    margin-left: 0%;
}
.menu-bars{
    max-width: 10vw;
    font-size: 2rem;
    justify-content: start;
    color: #E2BBFA;
    z-index: 2;
}
.menu-bars:focus{
    color: #E2BBFA;
}

.sideNav{
    background-image: linear-gradient(#4867C0 0%,#7919AC 72.92%);
    align-self: left;
    text-align: left !important;
    display: flex;
    flex-direction: column;
    justify-content:left;
    position: fixed;
    top:0;
    max-width: 45vw;
    min-width: 40vw;
    min-height: 100vh;
    left:-100%;
    transition: 850ms;
    z-index: 2;
}
.sideNav.active{
    left:0;
    transition: 850ms;
}
.navigation{
    margin: 0px;
    padding-left: 0px;
    margin-right: 3%;
    margin-left: 3%;
    list-style: none;
}
.navLinks a{
    width: 125%;
    margin: 0px;
    text-decoration: none;
    color: white;
}
.navToggle{
    min-height: 3rem;
    border-style: hidden;
    border-radius: 20%;
    border-color: white;
    border-width: thin;
    padding-left: 0px;
    padding-bottom: 0px;
    text-align: right;
    
}
.h1Title
{
    color: white;
    max-height: 75px;
}