
body{
    background-image: linear-gradient(180deg, rgba(81, 36, 155, 0.8) 0%, rgba(0, 85, 199, 0.8) 100%);
    height: 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}
.App{

}