/* CSS for the entire App */
.App {
  text-align: center;
}
/*App logo CSS*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/*App animation*/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/*App animation key frames */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Main{/*CSS for the whole home page*/
  text-align: left;
  
}

.boards /* Universal CSS for all the card card elements in the App */
{
    background-color: grey;
    margin: 2%;
    width: 7em;
    height: 10em;
}
.CardGroup /* CSS for the Home page are where the boards are displayed*/
{
    position: auto;
    width: 80%;
    align-items: center;
}

Link{ /* CSS for all the 'Link' elements in the App */
  padding: 0px;
}
/*When changing any type of measurements make sure you include "min" before it otherwise it won't allow to expand when creating notes!!!*/
#notes{ /* CSS for the note display area on the Note Page */
  min-height: 20vh;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 16px;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#notes_title{ /* CSS for the title of the Note Page */
  min-height: 8vh;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 40px;
  background-color: lightskyblue;
}
[contenteditable]{ /* things like the title tag on the Note Page have a outline by default. This is to erase that outline*/
  outline: 0px solid transparent;
}

.picture{/* CSS for Images displayed on the Note Page*/
  max-width: 50vw;
  max-height: 50vh;
}
.txtNote{ /*CSS for every text note made throught the Text Editor Page */
  max-width: 90%;
}
#txtEditor{/* Text Editor Page textarea CSS*/
  min-height:50vh;
  min-width: 100vw;
}
#dummy{ /* CSS for a hidden div on the Text Editor Page(purely for programming purposes)*/
  display: none;
  visibility: hidden;
}
#Note1
{
  background-color: greenyellow;
}
#Board1
{
  background-color: blue;
}