.Menu
{
    background-color: aliceblue;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: auto;
}

.menu-icon
{
    position: fixed;
    left: 2%;
    font-size: 2rem;
}

.user
{
    position: fixed;
    right: 2%;
    font-size: 2em;
}

.menu-title
{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}