.MenuOP1 {
    
    position: relative;
    left: 10%;
    font-size: 2rem;
}

.MenuOP2 {
    
    position: fixed;
    left: 10%;
    top: 20%;
    font-size: 2rem;
}

.MenuOP3 {
    position: fixed;
    left: 10%;
    top: 30%;
    font-size: 2rem;
}
.MenuOP4 {
    position: fixed;
    left: 10%;
    top: 40%;
    font-size: 2rem;
}

.MenuOP5 {
    position: fixed;
    left: 10%;
    bottom: 20%;
    font-size: 2rem;
}

.MenuOP6 {
    position: fixed;
    left: 10%;
    bottom: 10%;
    font-size: 2rem;
}