.navExpand
{
    background-color:aliceblue;
    min-height: 3rem;
    position: fixed;
}
.navTitle
{
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: grey;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0;

}
.navLinks
{
    font-size: 1rem;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    width: 100%;
}